@using CropSurvey.Model
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@{
    var completed = (int)ViewData["completed"];
}

<a class="btn btn-lg btn-primary shadow-sm mx-2 px-lg-8" asp-controller="Survey" asp-action="Index">
    @(completed == 60 ? "Uredi anketu" : completed == 0 ? "Ispuni anketu" : "Nastavi anketu")
</a>