@using CropSurvey.Model
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="btn btn-lg btn-primary shadow-sm mx-2 px-lg-8" asp-controller="Survey" asp-action="Index">
        Ispuni anketu
    </a>
} else
{
    <a class="btn btn-lg btn-primary shadow-sm mx-2 px-lg-8" asp-area="Identity" asp-page="/Account/Login">
        Ispuni anketu
    </a>
}