@using CropSurvey.Model
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@{
	var Completed = (int)ViewData["completedCount"];
    var Total = (int)ViewData["totalCount"];
}

<a class="btn btn-lg btn-primary shadow-sm mx-2 px-lg-8" asp-controller="Survey" asp-action="Index">
    @(Completed == Total ? "Uredi anketu" : Completed == 0 ? "Ispuni anketu" : "Nastavi anketu")
</a>