@{
    ViewData["Title"] = "O autoru";
}

<div class="py-10 py-lg-20">
    <div class="container max-w-screen-md">
        <div class="row">
            <div class="col-12">
                <h5 class="h5 mb-5 text-uppercase text-primary">
                    kropaj.me
                </h5>
                <h1 class="ls-tight font-bolder mb-5">
                    O meni
                </h1>
                <p class="lead mb-3">
                    Autor ovog istraživanja je Mirna Pibernik, studentica 3. godine stručnog studija računarstva na Tehničkom veleučilištu u Zagrebu.
                </p>
                <p class="lead mb-3">
                    Istraživanje provodim u svrhu boljeg razumijevanja ljudske percepcije i estetike, a i za završetak studija.                 
                </p>
                <p class="lead mb-3">
                    Kontaktirati me možete na mpiberni1@tvz.hr
                </p>
                <div class="mx-n2 mt-10">
                    <partial name="_SurveyButton" />
                </div>
            </div>
        </div>
    </div>
</div>
