@page
@model RegisterModel
@{
    ViewData["Title"] = "Registracija";
    var KnowledgeLevels = ViewData["KnowledgeLevels"] as List<SelectListItem>;
}

<div class="px-5 py-5 p-lg-0 bg-surface-secondary">
    <div class="d-flex justify-content-center">
        <partial name="_LoginRegisterSidebar" />
        <div class="col-12 col-md-9 col-lg-7 offset-lg-5 border-left-lg d-flex flex-column justify-content-center py-10 py-lg-16 px-lg-20 position-relative min-h-screen">
            <div class="row">
                <div class="col-lg-10 col-md-9 col-xl-6 mx-auto ms-xl-0">
                    <a class="d-block h-10" asp-controller="Home" asp-action="Index">
                        ← idi na početnu stranicu
                    </a>
                    <div class="mt-10 mt-lg-5 mb-6 d-flex align-items-center d-lg-block">
                        <h1 class="ls-tight font-bolder h2">
                            Registracija
                        </h1>
                    </div>
                    <div class="alert alert-primary mb-6" role="alert">
                        Ako već imate korisnički račun, <strong><a asp-area="Identity" asp-page="/Account/Login">prijavite se</a></strong>.
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <button class="btn btn-neutral w-full" type="submit" name="provider" value="@Model.ExternalLogins[0].Name">
                                    <span class="icon icon-sm pe-2">
                                        <img src="~/lib/svg/google.svg" />
                                    </span>
                                    @Model.ExternalLogins[0].DisplayName
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="py-5 text-center">
                        <span class="text-xs text-uppercase font-semibold">ili</span>
                    </div>
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-5">
                            <label class="form-label" asp-for="Input.UserName" autocomplete="username" aria-required="true">Korisničko ime</label>
                            <input class="form-control form-control-muted" asp-for="Input.UserName">
                            <span class="text-danger" asp-validation-for="Input.UserName"></span>
                        </div>
                        <div class="mb-5">
                            <label class="form-label" asp-for="Input.Password">Lozinka</label>
                            <input class="form-control form-control-muted" asp-for="Input.Password" autocomplete="new-password">
                            <span class="text-danger" asp-validation-for="Input.Password"></span>
                        </div>
                        <div class="mb-5">
                            <label class="form-label" asp-for="Input.ConfirmPassword">Ponovi lozinku</label>
                            <input class="form-control form-control-muted" asp-for="Input.ConfirmPassword" autocomplete="new-password">
                            <span class="text-danger" asp-validation-for="Input.ConfirmPassword"></span>
                        </div>
                        <div class="mb-5">
                            <label class="form-label" asp-for="Input.KnowledgeLevelID">Moje znanje o fotografiji je:</label>
                            <select asp-for="Input.KnowledgeLevelID" asp-items="KnowledgeLevels" class="form-control"></select>
                            <span class="text-danger" asp-validation-for="Input.KnowledgeLevelID"></span>
                        </div>
                        <div>
                            <button class="btn btn-primary w-full" id="registerSubmit" type="submit">
                                Registriraj me
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
