<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <partial name="_MetaPartial" />
    <title>@ViewData["Title"] - kropaj.me</title>
    <partial name="_StylesheetsPartial" />
</head>
<body>
    @RenderBody()
    <partial name="_ScriptsPartial" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
