@{
	ViewData["Title"] = "Početna";
	Layout = "_AppLayout";
	var Completed = (int)ViewData["completed"];
    var NextID = Completed+1;
	var Percent = Math.Truncate((float)Completed / 30 * 100);
}
@if (Completed == 30)
{
    <div class="alert bg-transparent text-success border-success mb-3" role="alert">
        <strong>Anketa ispunjena, hvala!</strong> 
        Možete urediti 
        <a style="color:inherit;text-decoration:underline;" asp-controller="Survey" asp-action="Question" asp-route-id="@NextID">svoje odgovore</a>, 
        <a style="color:inherit;text-decoration:underline;" asp-area="Identity" asp-page="/Account/Manage/Index">osobne podatke</a> ili se 
        <form class="form-inline d-inline align-bottom" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="btn btn-link d-inline" style="color:inherit;text-decoration:underline;padding:0;border:0;line-height:inherit;">odjaviti</button>.
        </form>
    </div>
}
<div class="card mb-3">
    <div class="card-body">
        <!-- Title -->
        <h3 class="h4">Odgovoreno pitanja</h3>
        <h1 class="display-6 my-3">@Completed/30</h1>
        <div class="progress progress-lg mb-5">
            <div class="progress-bar bg-primary" role="progressbar" style="width: @Percent%;">@Percent%</div>
        </div>
        @if (Completed == 0)
        {
            <a class="btn btn-sm btn-primary" asp-controller="Survey" asp-action="Start">
                Započni anketu
            </a>
        } else
        {
            <a class="btn btn-sm btn-primary" asp-controller="Survey" asp-action="Question" asp-route-id="@NextID">
                @(Completed == 30 ? "Uredi anketu" : "Nastavi anketu")
            </a>
        }
        <a class="btn btn-sm btn-outline-primary" asp-area="Identity" asp-page="/Account/Manage/Index">
            Uredi svoj profil
        </a>
    </div>
</div>
